@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$inner-wrapper-number-dim: 70px;
.global-container {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    .title {
        color: #b76e79;
        font-size: 40px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        border-radius: 10px;
        background-color: black;
        padding: 10px;
        width: 366px;
        margin: auto;
        // Disable user select for Chrome, Firefox, Safari
        user-select: none; /* Standard syntax */
    }
    .display {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        grid-column: 1 / 5;
        height: 120px;
        font-size: 65px;
        cursor: default;
    }
    .grid-item {
        background-color: #000000;
        color: white;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        .inner-wrapper {
            width: $inner-wrapper-number-dim;
            height: $inner-wrapper-number-dim;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .inner-wrapper-zero {
            border-radius: 30px;
            padding-left: 25px;
            height: 65px;
        }
        .inner-wrapper-special-funct {
            background-color: #a6a6a6;
            color: black;
            font-size: 30px;
            &:active {
                background-color: #d9d9d9;
            }
        }
        .inner-wrapper-numbers {
            background-color: #323232;
            color: white;
            font-size: 40px;
            &:active {
                background-color: #727272;
            }
        }
        .inner-wrapper-operators {
            background-color: #f89403;
            color: white;
            font-size: 45px;
            &:active {
                background-color: #fbc78d;
            }
        }
        .active-operator {
            background-color: white !important;
            color: orange !important;
        }
    }
    .operators {
        background-color: #f89403;
        color: white;
    }
    .zero {
        grid-column: 1 / 3;
        text-align: left !important;
    }
}